<%- include("../layouts/admin/header.ejs") -%>

<div class="screen-overlay"></div>
<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a class="brand-wrap">
            KEF
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item">
                <a class="menu-link" href="/admin/dashboard">
                    <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/products">
                    <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>
              
            </li>
          
            <li class="menu-item">
                <a class="menu-link" href="/admin/userms">
                    <i class="icon material-icons md-person"></i>
                    <span class="text">user managmnet</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/categories">
                    <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Categories</span>
                </a>
              
            </li>
            <li class="menu-item active">
                <a class="menu-link" href="/admin/orders">
                    <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Orders</span>
                </a>
              
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/coupons"> <i class="icon material-icons md-monetization_on"></i>
                    <span class="text">Coupons</span>
                </a>
            
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/banners"> <i class="icon material-icons md-monetization_on"></i>
                    <span class="text">Banners</span>
                </a>
            
            </li>     
        </ul>
        <hr />
        <br />
        <br />
    </nav>
</aside>
<main class="main-wrap">
  <header class="main-header navbar">
      <div class="col-search">
          <form class="searchform">
              <div class="input-group">
                  <input list="search_terms" type="text" class="form-control" placeholder="Search term" />
                  <button class="btn btn-light bg" type="button"><i class="material-icons md-search"></i></button>
              </div>
              <datalist id="search_terms">
                  <option value="Products"></option>
                  <option value="New orders"></option>
                  <option value="Apple iphone"></option>
                  <option value="Ahmed Hassan"></option>
              </datalist>
          </form>
      </div>
      <div class="col-nav">
          <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i class="material-icons md-apps"></i></button>
          <ul class="nav">
              <li class="nav-item">
                  <a class="nav-link btn-icon" href="#">
                      <i class="material-icons md-notifications animation-shake"></i>
                      <span class="badge rounded-pill">3</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
              </li>
              <li class="nav-item">
                  <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
              </li>
              <li class="dropdown nav-item">
                  <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                      <a class="dropdown-item text-brand" href="#"><img src="assets/imgs/theme/flag-us.png" alt="English" />English</a>
                      <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-fr.png" alt="Français" />Français</a>
                      <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-jp.png" alt="Français" />日本語</a>
                      <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-cn.png" alt="Français" />中国人</a>
                  </div>
              </li>
              <li class="dropdown nav-item">
                  <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/imgs/people/avatar-2.png" alt="User" /></a>
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                      <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                      <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                      <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                      <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                      <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item text-danger" href="/admin/Logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                  </div>
              </li>
          </ul>
      </div>
  </header>
  <section class="content-main">
      <div class="content-header">
          <div>
              <h2 class="content-title card-title">Order List</h2>
              <p>Lorem ipsum dolor sit amet.</p>
          </div>
          <div>
              <input type="text" placeholder="Search order ID" class="form-control bg-white" />
          </div>
      </div>
      <div class="card mb-4">
          <header class="card-header">
          </header>
          <!-- card-header end// -->
          <div class="card-body">
              <div class="table-responsive">
                  <table class="table table-hover">
                      <thead>
                          <tr>
                              <th>Index</th>
                              <th scope="col">Name</th>
                              <th scope="col">Email</th>
                              <th scope="col">Total</th>
                              <th scope="col">Status</th>
                              <th scope="col">Date</th>
                              <th scope="col">Action</th>
                          </tr>
                      </thead>
                      <tbody>
                      <% if(order) {%>
                           <%order.forEach((item, i) => {%>
                              <tr>
                                  <td><%= i + 1%></td>
                                  <td><b><%= item.userId.name%></b></td>
                                  <td><%= item.userId.email%></td>
                                  <td><%= item.totalAmount%></td>
                                  <td><span class="badge rounded-pill alert-warning"><%= item.status %></span></td>
                                  <% const formattedDate = item.date.toLocaleString('en-US', { weekday: 'short', month: 'short', day: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric', hour12: true }); %>
                                  <td><%= formattedDate%></td>
                                  <td class="">
                                     <a href="/admin/singleOrderDetails?orderId=<%= item._id %>">More details</a>
                                      <!-- dropdown //end -->
                                  </td>
                              </tr>



                           <%})%>
                          

                      <%} else {%>
                          


                      <%}%>

                          
                        
                          
                      </tbody>
                  </table>
              </div>
              <!-- table-responsive //end -->
          </div>
          <!-- card-body end// -->
      </div>
      <div class="pagination-area mt-15 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="/admin/orders?id=<%= previous %>"><</a>
                </li>
                <% for(let i = 1; i<= totalPages ;i++){ %>
                    <li class="page-item">
                        <a class="page-link" href="/admin/orders?id=<%= i %>"><%=i %>
                        </a>
                    </li>
                    <%}%>
                        <li class="page-item">
                            <a class="page-link" href="/admin/orders?id=<%= next %>">></a>
                        </li>
            </ul>
        </nav>
    </div>
  </section>
  <!-- content-main end// -->
  <footer class="main-footer font-xs">
      <div class="row pb-30 pt-15">
          <div class="col-sm-6">
              <script>
                  document.write(new Date().getFullYear());
              </script>
              &copy; Nest - HTML Ecommerce Template .
          </div>
          <div class="col-sm-6">
              <div class="text-sm-end">All rights reserved</div>
          </div>
      </div>
  </footer>
</main>

<%- include("../layouts/admin/footer.ejs") -%>

</script>