<%- include("../layouts/user/header.ejs") -%>
<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark " arial-label="Furni navigation bar">

	<div class="container">
		<a class="navbar-brand" href="/">KEF<span>.</span></a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
<div class="collapse navbar-collapse" id="navbarsFurni">
	<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
		<li class="nav-item ">
			<a class="nav-link" href="/">Home</a>
		</li>
		<li><a class="nav-link" href="/shop">Shop</a></li>
	</ul>

	<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
		
<%if(locals.user){ %>
	<div class="dropdown show">
		<a class="btn  dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<img src="/static/images/user.svg">
		</a>
	
		<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
			<a class="dropdown-item text-light" href="/logout">Logout</a>
			<a class="dropdown-item text-light" href="/profile">Profile</a>
			<!-- <a class="dropdown-item" href="#"></a> -->
		</div>
	</div>
	<%} else{%>
		<li><a class="nav-link" href="/login"><img src="/static/images/user.svg"></a></li>
		<%}%>
		<li><a class="nav-link" href="/cart"><img src="/static/images/cart.svg"></a></li>
	</ul>
</div>
</div>	

</nav>
<style>
  .bodyy {
    font-family: Arial, sans-serif;
    /* background-color: #f8f9fa; */
    margin: 0;
    padding: 0;
  }

  .containerr {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  .order-detailss {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .order-itemm {
    border-bottom: 1px solid #ccc;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .order-details,
  .product-details {
    flex: 1;
  }

  .right-side {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* Align to the right side */
  }

  .product-image {
    display: flex;
    flex-direction: column;
    /* Display images vertically */
  }

  .product-image img {
    height: 150px;
    width: 150px;
  }

  .cancel-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
  }

  .heading {
    color: brown;
  }
</style>

<div class="text-center">
  <h1 class="heading">My Orders</h1>
</div>

<div id="reloadreload">
  <% if (orders && Array.isArray(orders)) { %>
    <% orders.forEach((order) => { %>
      <div class="bodyy">
        <div class="containerr">
          <div class="order-detailss">
            <div class="order-itemm">
              <!-- Left side: Order details -->
              <div class="order-details">
                <div><strong>Order ID:</strong> <%= order._id %></div>
                <div><strong>Place On:</strong> <%= order.date.toLocaleDateString('en-US', { year: 'numeric',
                  month: 'short', day: '2-digit' }).replace(/\//g, '-') %></div>
                <div><strong>Payment Method:</strong> <%= order.paymentMethod %></div>
                <div><strong>Total Amount:</strong> ₹ <%= order.totalAmount %></div>
                <div><strong>Address:</strong> <%= order.deliveryAddress.name  %>,<%=  order.deliveryAddress.state %>,<%= order.deliveryAddress.city %>,<%= order.deliveryAddress.phNo %></div>

              </div>
              <!-- Right side: Products -->
              <div class="right-side ps-5 text-center">
                <% order.products.forEach((product) => { %>
                  <div class="product-image pt-3">
                    <img src="/assets/product/sharpedproduct/<%= product.productId.images[0] %>"
                      alt="<%= product.name %> Image" style="height: 150px; width: 150px;">
                  </div>
                  <div class="status-and-cancel">
                    <div class="status text-warning"><%= product.status %></div>
                    <div>
                      <% if (product.status == 'placed') { %>
                        <button class="btn-danger" onclick="cancelOrder('<%= order._id %>','<%= product.productId._id %>')">Cancel</button>
                      <% } else if (product.status == 'delivered') { %>
                        <button class="btn-danger" onclick="Return('<%= order._id %>','<%= product.productId._id %>')" >Return</button>
                      <% } else if (product.status == 'shipped') { %>
                        <button class="btn-danger" onclick="cancelOrder('<%= order._id %>','<%= product.productId._id %>')">Cancel</button>
                      <% } else if (product.status == 'outfordelivery') { %>
                        <button class="btn-danger" onclick="cancelOrder('<%= order._id %>','<%= product.productId._id %>')">Cancel</button>
                        <% } else if (product.status == 'returnRequest') { %>
                          
                          <% } else { %>
                        <input type="hidden">
                      <% } %>
                    </div>
                  </div>
                <% }) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% }) %>
  <% } %>
</div>

<script>
  function cancelOrder(orderId, productId) {
    console.log("hi",productId);
    const data = { orderId, productId };
    Swal.fire({
      icon: 'warning',
      text: 'Are you sure',
      showCancelButton: true,
      confirmButtonText: 'yes',
      cancelButtonText: 'no',
      cancelButtonColor: '#d33',
      confirmButtonColor: "#3085d6"
    }).then((response) => {
      if (response.isConfirmed) {
        $.ajax({
          url: "/cancelOrder",
          method: 'POST',
          data: JSON.stringify(data),
          contentType: "application/json",
          success: function (response) {
            if (response.cancel == true) {
              Swal.fire({
                icon: 'success',
                text: 'Your order cancelled'
              }).then((response) => {
                if (response.isConfirmed) {
                  $('#reloadreload').load('/myOrders  #reloadreload')
                }
              })
            }
          }
        })
      }
    })
  }
</script>

<script>
  function Return(orderId,productId){
    Swal.fire({
  title: 'Return reason',
  input: 'text',
  showCancelButton: true,
  confirmButtonText: 'ok',
  cancelButtonText: 'Close',
  showLoaderOnConfirm: true,
  position:'top',
}).then((response)=>{
  if(response.isConfirmed){
    const data = {orderId:orderId,productId:productId,reason:response.value}
      $.ajax({
        method:'post',
        url:'/returnRequest',
        data:JSON.stringify(data),
        contentType:'application/json',
        success: function(response){
          if(response.Return==true){
              Swal.fire({
                icon:'success',
                title:'return requested',
                showConfirmButton:false,
                timer:2000
              })
            $('#reloadreload').load('/myOrders  #reloadreload')
          }
        }
      })
  }
})
  }
</script>
<%- include("../layouts/user/footer.ejs") -%>
