<%- include("../layouts/user/header.ejs") -%>
  <!-- start of nav -->
  <nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark " arial-label="Furni navigation bar">
    <div class="container">
      <a class="navbar-brand" href="/">KEF<span>.</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
        aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsFurni">
        <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item active"><a class="nav-link" href="/shop">Shop</a></li>
          <li><a class="nav-link" href="/about">About us</a></li>
          <li><a class="nav-link" href="services.html">Services</a></li>
          <li><a class="nav-link" href="/blog">Blog</a></li>
          <li><a class="nav-link" href="/contact">Contact us</a></li>
        </ul>
        <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
          <%if(locals.user){ %>
            <div class="dropdown show">
              <a class="btn  dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img src="/static/images/user.svg">
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item text-light" href="/logout">Logout</a>
                <a class="dropdown-item text-light" href="#">Profile</a>
                <!-- <a class="dropdown-item" href="#"></a> -->
              </div>
            </div>
            <%} else{%>
              <li><a class="nav-link" href="/login"><img src="/static/images/user.svg"></a></li>
              <%}%>
                <li><a class="nav-link" href="cart.html"><img src="/static/images/cart.svg"></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- end of nav -->



  <!-- hero section start -->
  <div class="hero0">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-5">
          <div class="intro-excerpt">

          </div>
        </div>
        <div class="col-lg-7">

        </div>
      </div>
    </div>
  </div>
  <!-- End Hero Section -->

  <div class="container-fluid" data-aos="fade-in">
    <!-- Category Toolbar-->
    <div class="">
      <div>
        <!-- <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="/shop">All</a></li>
          </ol>
        </nav> -->

        <h1 class="fw-bold fs-3 mb-2 pt-3" style="color: #3b5d50;">All Products (<%= products.length %>)</h1>

      </div>
      <div class="d-flex justify-content-end align-items-center mt-4 mt-lg-0 flex-column flex-md-row">

        <!-- Filter Trigger-->
        <!-- <button class="btn bg-light p-3 me-md-3 d-flex align-items-center fs-7 lh-1 w-100 mb-2 mb-md-0 w-md-auto " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFilters" aria-controls="offcanvasFilters">
                  <i class="ri-equalizer-line me-2"></i> Filters
              </button> -->
        <!-- / Filter Trigger-->

        <!-- Sort Options-->
        <!-- <select id="sortSelect" class="form-select form-select-sm border-0 bg-light p-3 pe-5 lh-1 fs-7" onchange="updateSort(this)">
                  <option value="/shop?sort=default" selected>Sort By</option>
                  <option value="/shop?sort=priceLowTohigh">Low Hi</option>
                  <option value="/shop?sort=2">Hi Low</option>
                  <option value="/shop?sort=3">Name</option>
              </select> -->

        <!-- / Sort Options-->
      </div>

    </div> <!-- /Category Toolbar-->
    <div class="row pt-3 ">
      <!-- Sidebar -->
      <div class="col-lg-3 col-3">
        <!-- Add your sidebar content here -->
        <div class="card " style="background-color: #3b5d50;" >
          <div class="card-body">


            <div class="accordion" id="accordionProduct">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Categories
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                  data-bs-parent="#accordionProduct">
                  <div class="accordion-body">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item d-flex border-0 row g-0 px-0">
                        <% if(locals.category)%>
                        <select id="selectCategory" class="form-select fw-bolder"
                          onchange="window.location.href=this.value">
                          <option value="" disabled selected>Select Category</option>
                          <option value="/shop">All</option>
                          <% category.map((x)=>{%>
                            <option value="/shop?id=<%= x._id%>"><%= x.name%></option>
                            <%}) %>
                        </select>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Sidebar -->




      <!-- Main content -->
      <div class="col-lg-9 col-9 ">
        <!-- Products-->

        <div class="row g-4 mb-5" id="searchResults">
          <!-- Search form -->


          <% if(locals.products) { %>
            <% products.map(function(products){ %>
              <%if(products.category.isListed==false){%>
                <div class=" col-sm-6 col-6  col-lg-3">
                  <!-- Card Product-->
                  <div class="card border border-transparent position-relative overflow-hidden h-100 transparent">
                    <div class="card-img position-relative">
                      <picture class="position-relative overflow-hidden d-block bg-light">
                        <a href="/productView?id=<%= products._id%>"><img
                            class="w-100  img-fluid position-relative z-index-10 hoverimg" title=""
                            src="/assets/product/sharpedproduct/<%=products.images[0]%>" alt="<%= products.name %>"></a>
                      </picture>
                    </div>
                    <div class="card-body px-0">
                      <a class="text-decoration-none link-cover cardtitleshop" href="/productView?id=<%=products._id%>">
                        <%= products.name %>
                      </a>
                      <small class="text-muted d-block smallcardtitle">
                        <%= products.category.name %>
                      </small>


                      <p class="mt-2 mb-0 small"><s class="text-danger">₹<%= products.previous_price %></s> <span
                          class="text">₹<%= products.price %></span></p>
                    </div>
                  </div>
                  <!--/ Card Product-->
                </div>
                <%}else{%>
                  
                  <%}%>
                    <% }); %>
                      <% } else { %>
                        <tr>
                          <td colspan="5">No products available</td>
                        </tr>

                        <% } %>
        </div>


        <!-- Start Footer Section -->
        <footer class="footer-section ">
          <div class="container relative">

            <!-- <div class="sofa-img pt-5">
    <img src="assets/sofa.png" alt="Image" class="img-fluid">
  </div> -->

            <div class="row">
              <div class="col-lg-8">
                <div class="subscription-form">
                  <h3 class="d-flex align-items-center"><span class="me-1"><img src="assets/envelope-outline.svg"
                        alt="Image" class="img-fluid"></span><span>Subscribe to Newsletter</span></h3>

                  <form action="#" class="row g-3">
                    <div class="col-auto">
                      <input type="text" class="form-control" placeholder="Enter your name">
                    </div>
                    <div class="col-auto">
                      <input type="email" class="form-control" placeholder="Enter your email">
                    </div>
                    <div class="col-auto">
                      <button class="btn btn-primary">
                        <span class="fa fa-paper-plane"></span>
                      </button>
                    </div>
                  </form>

                </div>
              </div>
            </div>

            <div class="row g-5 mb-5">
              <div class="col-lg-4">
                <div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">Furni<span>.</span></a></div>
                <p class="mb-4">Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus
                  malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.
                  Pellentesque habitant</p>

                <ul class="list-unstyled custom-social">
                  <li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
                  <li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
                  <li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
                  <li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
                </ul>
              </div>

              <div class="col-lg-8">
                <div class="row links-wrap">
                  <div class="col-6 col-sm-6 col-md-3">
                    <ul class="list-unstyled">
                      <li><a href="#">About us</a></li>
                      <li><a href="#">Services</a></li>
                      <li><a href="#">Blog</a></li>
                      <li><a href="#">Contact us</a></li>
                    </ul>
                  </div>

                  <div class="col-6 col-sm-6 col-md-3">
                    <ul class="list-unstyled">
                      <li><a href="#">Support</a></li>
                      <li><a href="#">Knowledge base</a></li>
                      <li><a href="#">Live chat</a></li>
                    </ul>
                  </div>

                  <div class="col-6 col-sm-6 col-md-3">
                    <ul class="list-unstyled">
                      <li><a href="#">Jobs</a></li>
                      <li><a href="#">Our team</a></li>
                      <li><a href="#">Leadership</a></li>
                      <li><a href="#">Privacy Policy</a></li>
                    </ul>
                  </div>

                  <div class="col-6 col-sm-6 col-md-3">
                    <ul class="list-unstyled">
                      <li><a href="#">Nordic Chair</a></li>
                      <li><a href="#">Kruzo Aero</a></li>
                      <li><a href="#">Ergonomic Chair</a></li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>

            <div class="border-top copyright">
              <div class="row pt-4">
                <div class="col-lg-6">
                  <p class="mb-2 text-center text-lg-start">Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed
                    with love by <a href="https://untree.co">Untree.co</a> Distributed By <a
                      href="https://themewagon.com">ThemeWagon</a>
                    <!-- License information: https://untree.co/license/ -->
                  </p>
                </div>

                <div class="col-lg-6 text-center text-lg-end">
                  <ul class="list-unstyled d-inline-flex ms-auto">
                    <li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                  </ul>
                </div>

              </div>
            </div>

          </div>
        </footer>
        <!-- End Footer Section -->


        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/tiny-slider.js"></script>
        <script src="js/custom.js"></script>
        </body>

        <%- include("../layouts/user/footer.ejs") -%>